[Unit]
Description=Unload linuwu_sense at shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/sbin/rmmod linuwu_sense 

[Install]
WantedBy=multi-user.target
